@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Federant&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto+Slab:wght@100..900&family=Titan+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root{

   

    --bg-main: #000;
    --bg-secondary: #3A291D;
    --bg-card: #4F3827;
    --bg-card-dark: #000000;
    --bg-navbar: #342117;
    --bg-input: #463324;
    --bg-hover: #5C4330;

  

    --gradient-main:
    linear-gradient(
        135deg,
        #24160F 0%,
        #3B2519 40%,
        #4B3021 100%
    );

 
    --primary: #E39D51;
    --primary-light: #F2B36C;
    --primary-dark: #C67A33;
    --primary-hover: #F4A84C;

   

    --gold: #D8A15C;
    --gold-light: #E8BE83;
    --gold-dark: #AF713C;

   

    --green: #3FC27B;
    --green-dark: #2C9C61;
    --green-light: #72D99B;

   

    --red: #D65D4B;
    --red-dark: #A94539;

   
    --graph-bg: #5E5148;
    --graph-low: #70645A;
    --graph-mid: #A58C72;
    --graph-high: #E39D51;
    --graph-active: #48C26F;

   

    --border: #71553D;
    --border-light: #9D7753;
    --border-dark: #4D3727;



    --text-white: #F3F0EB;
    --text-primary: #ECE7E0;
    --text-secondary: #C9B7A4;
    --text-muted: #A3907C;
    --text-dark: #725E4C;

   

    --icon: #F2EFE9;
    --icon-muted: #B9A38D;
    --icon-accent: #E39D51;

  
    --shadow:
        0 10px 30px rgba(0,0,0,.45);

    --shadow-card:
        0 15px 40px rgba(0,0,0,.35);

    --shadow-button:
        0 0 20px rgba(227,157,81,.30);
    
        --progress-degree:0%

}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: auto;
    height: auto;
    font-size: 62.5%;
    background:var(--bg-main);
    color: var(--text-white);
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background:var(--bg-main);
}

/* header */
#fheader{
    margin: auto;
    padding:1rem;
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: 2px solid rgb(30, 29, 29);
    align-items: center;
    font-size: 1rem;
   border-bottom: 1px solid rgb(38, 37, 37); 
   
}
#navsection{
    gap: 5px;
    font-size: 1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#navsection a{
    color:var(--text-white);
}


/* header end */
/* body start */

#fbody{
    width: 100%;
    height: 100%;
    min-height: 600px;
    /* max-width: 1250px; */
    /* margin: auto; */
    border: 1px solid whitesmoke;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: start;

}
@media (max-width:750px) {
    #fbody{
        flex-direction: column;
         justify-content:start;
    align-items: start;
    }
}
/* second body */
#sbody{

    border: 1px solid white;
    /* margin: auto; */
    width: 100%;
    padding: 0rem;
   
}

#nameSeciton{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 1px solid white;
    gap: 0.5rem;
    font-size: 1.6rem;
    color: #afc2c5;
}
#nameSeciton img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}
#overView{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 2rem;
   
    
}

.questionstat { 

    width: 300px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 4px solid #ff9900;
}

#easyQues{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        #afc2c5 0%,
        #afc2c5 var(--progress-degree),
        var(--bg-card-dark) var(--progress-degree),
        var(--bg-card-dark) 100%
    );
   
}

#medQues{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
     background: linear-gradient(
        to right,
        #afc2c5 0%,
        #afc2c5 var(--progress-degree),
        var(--bg-card-dark) var(--progress-degree),
        var(--bg-card-dark) 100%
    );
}
#hardQues{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(
        to right,
        #afc2c5 0%,
        #afc2c5 var(--progress-degree),
        var(--bg-card-dark) var(--progress-degree),
        var(--bg-card-dark) 100%
    );
}

 

/* third body */


#thbody{
    margin: auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    gap: 2rem;
    align-items: center;
    font-size: 2rem;
    color: yellow;
}
#thbody img{
    width: 25rem;
    aspect-ratio: 1/0.8;
    border-radius: 2rem;
    border: 4px solid rgb(196, 191, 191);
    box-shadow: 0px 0px 1rem rgb(255, 197, 206);
}









/* body end */

/* footer start */

#ffooter{
    border: 1px solid black;
}
/* footer end */


.slide {
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;
    border: 1px solid white;

}

